@model Product

<!--Script for jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


@{
    string title = ViewBag.Action + " Product";
    ViewBag.Title = title;    

}
<h1>@ViewBag.Title</h1>
<form asp-action="AddEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
    <label asp-for="ProductCode">Code</label>
    <input asp-for="ProductCode" class="form-control"/>
    
    </div>
    <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
    <label asp-for="YearlyPrice">Price</label>
    <input asp-for="YearlyPrice" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" class="form-control" />
    </div>


    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>

